*.iml
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.gradle/
.idea/
gradle/
/build
gradle.properties
gradlew
gradlew.bat
RetrofitDemo.iml
/test
androidTest/
androidutils.gradle
